
nav{
    background-color: rgb(243, 233, 241);
    margin-top: 10px;
}
.logo_box{
    width: 50%;
}
.link_box{
    width: 50%;

display: grid;
justify-content: center;
}
.cart_size{
    font-size: 20px;
}
.list_margin{
    margin: 20px;
}
.container{
    margin-top: 50px;

}
#app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin-right: 5px;
}
.grid{
    display: grid;
}

.grid-cols-3{
    grid-template-columns: repeat(2,minmax(0,1fr));
}
.detials_of_products{
    color: black;
}
.product_details{
    display: flex;
    justify-content: space-around;
}
figure{
    background-color: rgb(243, 233, 241)
}
.teds_photos{
   
    display:flex ;

}

.image{
    width: 370px;
height: 200px;
cursor: pointer;
}
.name_price{
    display: flex;
    cursor: pointer;
}

.teds{
    width: 400px;
    height: 450px;
    display: grid;
    justify-items: center; 
    
    margin-bottom: 20px;
    padding: 5px;
}


.teds:hover{
   transform: scale(1.03);
    
}
.colors{
    visibility: hidden;
}



/* TABLET */
@media (min-width: 768px) and (max-width: 1028px) {
    main{
        max-width: 1028px;
    }
    .grid-cols-2{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

/* MOBILE*/
@media (max-width: 768px) {
    .logo_img{
        width: 250px;  
    }
    .grid-cols-1{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    .teds{
        width: 340px;
    }
    .image{
        width: 320px;
    }
}
