/* PAGE PRODUCT*/

nav{
    background-color: rgb(243, 233, 241);
    margin-top: 10px;
    display: flex;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin-right: 5px;
    padding-top: 20px;
}
.logo_box{
    width: 50%;
}
.link_box{
    width: 50%;

display: grid;
justify-content: center;
}
.cart_size{
    font-size: 20px;
}
.teds_product{
   width: 50%;
   height: 50%;
    display: grid;
    justify-items: center; 
    
    padding-bottom: 10px;
}

#submit_product{
cursor: pointer;

}
#submit_product:hover{
    transform: scale(1.01);
    
}

#container_products{
    display: flex;
    border: 2px solid gray;
    margin-top: 20px;
    background-color: rgb(243, 233, 241);
}
.teds{
    
    
align-items: center;
    
    padding: 5px;
}
.teds:hover{
    transform: scale(1.0);
     
 }
 .image_product{
    width: 100%;
    height: auto;
 }
 .product_details{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.detials_of_products{
    margin-left: 5px;
}
.customiz{
    display: flex;
justify-content: space-around;
}
.width{
    width: 150px; 
    font-size: 15px;
}
#submit_product{
    margin-top: 55px;
width: 98%;

background-color: #c6538a;
height: 50px;
display: grid;
justify-items: center;
font-size: 1.1rem;
padding: 10px;
color: #000066;
font-weight: bold;
border-radius: 10px;
}
   
 /* MOBILE*/
@media (max-width: 768px) {
    .logo_img{
        width: 250px;  
    }
    #container_products{
        display: flex;
        flex-wrap: wrap; 
    }
    .teds{
        padding: 0;
    }
    .teds_product{
        width: 371px;
        height: 50%;
         display: grid;
         justify-items: center; 
         
        
     }
     .detials_of_products{
        margin-left: 0px;
        width: 100%;
    }
    .product_details{
        display: flex;
        justify-content: space-around;
        padding-right: 30px;
    }
    .discription{
        width: 100%;
padding: 10px;
    }
    .customiz{
        flex-wrap: wrap;
        flex-direction: column;
justify-content: center;
align-items: center;
    }
    .name{
        font-weight: bold;
    }
    .option_style{
        font-size: 17px;
font-weight: bold;
    }
    .width{
        background-color: white;
    }
    #submit_product{
        font-size: 15px;
      padding: 0;
    }
    .btn_wrappe{
        display: grid;
align-items: center;
justify-content: center;
padding-bottom: 10px;
    }
}