nav{
    background-color: rgb(243, 233, 241);
    margin-top: 10px;
    display: flex;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin-right: 5px;
    padding-top: 20px;
}
.logo_box{
    width: 50%;
}
.link_box{
    width: 50%;

display: grid;
justify-content: center;
}
#container_confrimation{
    width: 100%;
display: grid;
justify-items: center;
margin-top: 30px;
}
h3{
    font-size: 2.5rem; 
    font-weight: bold;
}
p{
    font-size: 1.5rem;
}
.p_1{
    color: rebeccapurple;
font-weight: bold;
}
span{
    color: crimson;
}