<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Accueil - Orinoco">
    <meta name="description" content="Orinoco est un site e-commerce à thème">

    <meta property="og:url" content="https://orinoco.mathisbarre.com">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Orinoco est un site e-commerce à thème">
    <meta property="og:image" content="http://orinoco.mathisbarre.com/images/orinoco.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://orinoco.mathisbarre.com">
    <meta property="twitter:title" content="Accueil - Orinoco">
    <meta property="twitter:description" content="Orinoco est un site e-commerce à thème">
    <meta property="twitter:image" content="http://orinoco.mathisbarre.com/images/orinoco.png">


    
    <script defer src="https://kit.fontawesome.com/95d302c68f.js" ></script>
    <script defer src="../js/productSelection.js"></script>
    <script defer src="../js/panier.js"></script>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="#">
    <link href="../style/styleproductpage.css" rel="stylesheet">

    <title>ORINOCO - PRODUCTS</title>
</head>
<body>
        <header>
     <!-- Header -->
<div class="bg-dark">
    <div class="container_header">
       <div class="row">
          <nav class="col navbar navbar-expand navbar-dark">
            <div class="logo_box">
               <a href="index.html">
                     <img class="logo_img" src="../logo/logo.png" width="300" height="100" alt="logo de la site"> 
               </a>
             </div>
             <div class="link_box">
               <ul>
                 <li><a class="panier_product" href="panier.html"><i class="fa fa-shopping-cart cart_size" aria-hidden="true"></i>
                  </a></li>
                 
               </ul>
             </div>
            </nav>
          
       </div>
    </div>
 </div>
</header>
 <!-- body de la page -->
 
    <section id="container_products">
<h3>Details de produit</h3>
 <div id="products_colors">   
 </div>  
</section>

        
        <footer>

        </footer>
      </body>
      </html>
