/*  pAGE PANIER */
nav{
    background-color: rgb(243, 233, 241);
    margin-top: 10px;
    display: flex;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin-right: 5px;
    padding-top: 20px;
}
.logo_box{
    width: 50%;
}
.link_box{
    width: 50%;

display: grid;
justify-content: center;
}
.delete_item{
    background-color: white;
border: none;
cursor: pointer;
}
.button_box{
    padding-right: 20px; 
   
}
.theader{
    align-content: center;
display: grid;
margin-right: 85px;
}
#container_panier{
   
    width: 100%;
display: inline-block;
}
.container_productinfo{
    margin-top: 25px;
    border: 2px solid gray;
}
.thead_row{
    width: 1180px;
display: flex;
justify-content: space-around;
}
.details_captured{
    display: flex;
justify-content: space-around;
margin-top: 10px;
margin-bottom: 10px;
}
#objectid{
    visibility: hidden;
}

.data_table{
    width: 100%;
}
.tdata{
    width: 100%;
}

.tablerow{
    display: flex;
    flex-direction: row;
   
    justify-content: space-around; 
}

.display_total_cost{
    margin-left: 900px;
}
.btn_suprimer_panier{
    margin-left: 1200px;
}

/*FORM STYLING */
form{
    background-color: rgb(243, 233, 241);

    margin-top: 25px;
    margin-bottom: 25px;
}
#form-to-check{
    display: grid;
    justify-content: space-around;
grid-template-columns: repeat(2,auto);
}
.label_display{
    display: grid; 
}
input{
    width: 300px;
    box-shadow: rgba(128, 0, 0, 0.4) 0px 0px 4px;
height: 30px;
background-color: white;
border: none;
margin-top: 10px;
}
input:focus{
  border: 1px solid blue;  
}
input:unfocus{
    border: 1px solid blue;  
  }
/* TABLET */
@media (min-width: 768px) and (max-width: 1028px) {
    main{
        max-width: 1028px;
    }
   
}

/* MOBILE*/
@media (max-width: 768px) {
    main{
        max-width: 768px;
    }
    
}