
nav{
    background-color: rgb(243, 233, 241);
    margin-top: 10px;
}
.container{
    margin-top: 50px;

}
#app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin-right: 5px;
}
.grid{
    display: grid;
}

.grid-cols-3{
    grid-template-columns: repeat(2,minmax(0,1fr));
}
.detials_of_products{
    color: black;
}
.product_details{
    display: flex;
    justify-content: space-around;
}
.teds_photos{
   
    display:flex ;

}

.image{
    width: 270px;
height: 200px;
cursor: pointer;
}
.name_price{
    display: flex;
    cursor: pointer;
}

.teds{
    width: 400px;
    height: 450px;
    display: grid;
    justify-items: center; 
    border: 2px solid gray;
    margin-bottom: 20px;
    padding: 5px;
}


.teds:hover{
   transform: scale(1.03);
    
}
.colors{
    visibility: hidden;
}

/*  pAGE PANIER */

#container_panier{
   
    display: flex;
    flex-direction: row;
    min-width: 80vw;

    justify-content: center;
    border: 2px solid black;
}
.details_captured{
 display: table;

}
#objectid{
    visibility: hidden;
}
@media (min-width: 768px) and (max-width: 1028px) {
    main{
        max-width: 1028px;
    }
    .grid-cols-2{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}
@media (max-width: 768px) {
    main{
        max-width: 768px;
    }
    .grid-cols-1{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
}
